<head>
    <title>Fitness Tracker - Workouts</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <h1>Welcome!</h1>
        <!-- Main menu for the user to navigate to other pages -->
        <b>Home</b> | <a href="/workouts">Workouts</a> | <a href="/plans">Plan</a> | <a href="/log">Log</a> | <a href="/Admin"><button type="submit">Admin</button></a>
        <a href="/"><button type="submit">Logout</button></a>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>